# Development directories
.idea/
.vscode/
node_modules/

# Build outputs
build/
dist/
.vite/
coverage/

# Configuration files
tsconfig.json
package.json
package-lock.json

# Ignore files
.eslintignore
.eslintrc*
.gitignore
.prettierrc*
.prettierignore
